# Logs y sistema
*.log
.DS_Store
Thumbs.db

# Entornos
.env
.env.*
!.env.example

# IDEs y herramientas locales
/.fleet
/.idea
/.vscode
/.nova
/.zed
/phpactor.json
.phpunit.result.cache

# Dependencias
/vendor
/node_modules

# Cachés y builds
/storage/*.key
/storage/pail
/public/build
/public/hot
/public/storage

# Homestead / Vagrant
Homestead.json
Homestead.yaml
